{% extends 'main/base.html' %}
{% block content %}
    <div align="center" class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">G-Py Index</h3>
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <h2>About G-Py</h2>
                        <p>G-Py aims to be an easy to use, all in one site for Garry's mod communities.</p>
                        <h3>Current features:</h3>
                        <div class="alert alert-danger" role="alert">
                            <strong>Ulx Player Data</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>Automatic Ranking on Ulx Sync</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>User profiles/User profile editing</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>Remote RCON with feedback for command</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>Remote ban with feedback for command.</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>No logging yet as it's not RCON protocol. Still trying to figure it out.</strong>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>Steam Authentication</strong>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <strong>Docker if applicable</strong>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <strong>Heroku if applicable</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}