{% extends 'main/base.html' %}
{% block content %}
    {% load markdown_filter %}
    <div align="center" class="row">
        <div class="col-md-12">
            {% if all_users %}
                    {% for current_user in all_users %}
                        <div class="panel panel-primary">
                            <div align="left" class="panel-heading">
                                <h3 class="panel-title">{{ current_user.get_steam2_id }}</h3>
                            </div>
                            <div class="panel-body">
                                <div align="" class="">
                                    <table class="row table table-responsive">
                                        <thead>
                                        <tr>
                                            <td>
                                                <h4>Avatar</h4>
                                            </td>
                                            <td>
                                                <h4>Rank</h4>
                                            </td>
                                            <td>
                                                <h4>G-Py Profile</h4>
                                            </td>
                                            <td>
                                                <h4>Steam Profile</h4>
                                            </td>
                                            <td>
                                                <h4>Motto</h4>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="{{ current_user.avatarmedium }}">
                                                </td>
                                                <td>
                                                    <h5>{{ current_user.rank }}</h5>
                                                </td>
                                                <td>
                                                    <a href="{% url "main:profile" steam_id=current_user.steamid %}" class="btn btn-danger btn-xs">G-Py Profile</a>
                                                </td>
                                                <td>
                                                    <a href="{{ current_user.profileurl}}" class="btn btn-danger btn-xs">Steam Profile</a>
                                                </td>
                                                <td>
                                                    <p>{{ current_user.gpy_profile.motto}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    {% endfor %}
            {% else %}
                <div class="jumbotron">
                    <h2>Search Users</h2>
                    <p>We could not find any users for the current search.</p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}