{% extends 'main/base.html' %}
{% block content %}
    {% load markdown_filter %}
    <div align="center" class="row">
        <div class="col-md-12">
            {% if searched_users %}
                <ul>
                    {% for current_user in searched_users %}

                    {% endfor %}
                </ul>
            {% else %}
                <div class="jumbotron">
                    <h2>Search Users</h2>
                    <p>We could not find any users for the current search.</p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}

