{% extends 'main/base/base.html' %}

{% block primary_menu_header %}
    <a class="header item">G-Py</a>
{% endblock %}
{% block primary_menu %}
    <a class="item">Dashboard</a><a class="item">Settings</a><a class="item">Profile</a><a class="item">Help</a>
{% endblock %}
{% block secondary_menu %}
    {#    <a class="active item">Overview</a><a class="item">Reports</a><a class="item">Analytics</a><a#}
    {#        class="item">Export</a>#}
    <a class="ui active item button" href="{% url "main:index" %}">Home</a>
    <div class="ui hidden divider"></div>
    {#    <a class="item">Nav item</a><a class="item">Nav item again</a><a class="item">One more nav</a><a#}
    {#        class="item">Another nav item</a><a class="item">More navigation</a>#}
    <div class="ui hidden divider"></div>
    {#    <a class="item">Macintosh</a><a class="item">Linux</a><a class="item">Windows</a>#}
{% endblock %}
{% block content_header %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}