{% extends 'main/base.html' %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">G-Py Index</h3>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <h3>Login:</h3>
            {% if user.is_authenticated %}
                <p>You are already logged in. Log out?</p>
                <a class="btn btn-danger" href="{% url "logout" %}">Logout</a>
            {% else %}
                <p>Log in with steam!</p>
                <a href="{% url "social:begin" "steam" %}?next={% url "index" %}">
                    <img src="/static/sits_01.png" alt="Sign in with steam">
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}