{% extends 'main/base.html' %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ viewed_user.get_steam2_id }}</h3>
    </div>
    <div class="panel-body">
        <div class="">
            <h2>{{ viewed_user.personaname }}</h2>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Rank:</h3>
                        <h4>{{ viewed_user.rank }}</h4>
                    </div>
                    <div class="col-md-4">
                        <h3>Steam Profile:</h3>
                        <a class="btn btn-lg btn-danger" href="{{ viewed_user.profileurl }}">View Steam Profile</a>
                        <br>
                    </div>
                    <div align="right" class="col-md-4">
                        <img class="gpy_profile_avatar_border" src="{{ viewed_user.avatarmedium }}">
                    </div>
                    <div align="center" class="col-sm-12">
                        <h3>G-Py Profile:</h3>
                        <a class="btn btn-xs btn-danger" href="{% url "profile" steam_id=viewed_user.steamid %}">View G-Py Profile</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Profile Edit Form</h4>
                    <i>Note: Profiles support markdown!</i>
                </div>
                <div class="panel-body">
                    <hr />
                    {# Load the tag library #}
                    {% load bootstrap3 %}

                    {# Display a form #}

                    {# Display a form #}
                    <form action="{% url "profile_edit" steam_id=viewed_user.steamid %}" method="post" class="form">
{#                        {% csrf_token %}#}
{#                        {% bootstrap_form form %}#}
{#                        {% buttons %}#}
{#                            <button type="submit" class="btn btn-primary">#}
{#                                {% bootstrap_icon "pencil" %} Submit#}
{#                            </button>#}
{#                        {% endbuttons %}#}
                        {% csrf_token %}
                        {% bootstrap_form_errors form type='non_fields' %}
                        {% bootstrap_field form.bio size='lg' placeholder=viewed_user.gpy_profile.bio %}
                        {% bootstrap_field form.signature size='md' placeholder=viewed_user.gpy_profile.signature %}
                        {% bootstrap_field form.motto size='sm' placeholder=viewed_user.gpy_profile.motto  %}
                        {% buttons submit='Edit' reset="Cancel" %}{% endbuttons %}
                    </form>

                    {# Read the documentation for more information #}
                    <hr />
                </div>
            </div>
        </div>
    </div>
{% endblock %}