{% extends 'main/base.html' %}
{% load markdown_filter %}
{% block content %}
    <div align="center" class="ui fifteen wide grid row">
        <div class="ui column">
            <div class="ui segment">
                <div align="left" class="ui attached header">
                    <h3 class="panel-title">{{ viewed_user.get_steam2_id }}</h3>
                </div>
                <div class="ui top attached container">
                    <div class="row">
                        <div class="ui column">
                            <h2>{{ viewed_user.personaname }}</h2>
                            <div class="ui text segment">
                                <div class="row">
                                    <div class="column">
                                        <h3>Rank:</h3>
                                        <h4>{{ viewed_user.rank }}</h4>
                                    </div>
                                    <div class="ui column">
                                        <h3>Steam Profile:</h3>
                                        <a class="btn btn-lg btn-danger" href="{{ viewed_user.profileurl }}">View Steam
                                            Profile</a>
                                    </div>
                                    <div align="right" class="ui column">
                                        <img class="gpy_profile_avatar_border" src="{{ viewed_user.avatarmedium }}">
                                    </div>
                                    {% if user.is_authenticated %}
                                        {% if user == viewed_user %}
                                            <div align="center" class="ui column">
                                                <h3>G-Py Edit Profile:</h3>
                                                <a class="ui red very small button"
                                                   href="{% url "main:profile_edit" steam_id=viewed_user.steamid %}">Edit
                                                    Profile</a>
                                            </div>

                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui header">
                    <h3>
                        User Profile
                    </h3>
                </div>
                <div class="ui segment">
                    <div class="">
                        <div align="left" class="ui header">
                            <h4>User Bio</h4>
                        </div>
                        <div align="center" class="ui segment">
                            {{ viewed_user.gpy_profile.bio|markdownify|safe }}
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="">
                        <div align="left" class="ui header">
                            <h4>User Signature</h4>
                        </div>
                        <div align="center" class="ui segment">
                            {{ viewed_user.gpy_profile.signature|markdownify|safe }}
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="">
                        <div align="left" class="ui header">
                            <h4>User Motto</h4>
                        </div>
                        <div align="center" class="ui segment">
                            {{ viewed_user.gpy_profile.motto|markdownify|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}