Django>=1.8,<2.0
psycopg2
certifi==2017.7.27.1
chardet==3.0.4
django-oauth-toolkit==1.0.0
idna==2.5
oauthlib==2.0.2
requests==2.18.3
urllib3==1.22
djangorestframework
markdown
django-filter
npm
django-bootstrap3
social-auth-core
social-auth-app-django
social-auth-app-django-mongoengine
django-extensions
gunicorn
dj-database-url
whitenoise
django-organizations
steam
