{% extends 'remote_admin/base.html' %}
{% block content %}
    <div align="center" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">G-Py Remote Admin</h3>
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <h3 class="alert-danger">
                            {{ rcon_stdout }}
                        </h3>
                        <h2>Ban User Page</h2>
                        <form action="{% url 'remote_admin:ban_user' %}" method="post">
                            {#                            <ul class="list-group">#}
                            {#                            <li class="list-group-item">#}
                            {#                                <h3 class="list-group-item-heading">Select server</h3>#}
                            {#                                <select id="rcon_server_port" name="rcon_server_port">#}
                            {#                                    <option value="27015">TTT</option>#}
                            {#                                    <option value="27016">DarkRP</option>#}
                            {#                                </select>#}
                            {#                            </li>#}
                            {#                            <li class="list-group-item">#}
                            {#                                <h3 class="list-group-item-heading">SteamID you wish to ban: <h3>#}
                            {#                                <input id="steam_id" type="text" name="reason">#}
                            {#                            </li>#}
                            {#                                <i>Only use the below if you'd like to ban a registered user.</i>#}
                            {#                                <br>#}
                            {#                                <i>If both fields are not blank, it will default to the above.</i>#}
                            {#                            <li class="list-group-item">#}
                            {#                                <h3 class="list-group-item-heading">Registered User</h3>#}
                            {#                                <select id="steam_id_registered_user" name="steam_id_registed_user">#}
                            {#                                    <option value="">None</option>#}
                            {#                                    <option value="STEAM_0:0:0000000">--TEST--</option>#}
                            {#                                    {% for current_user in all_users %}#}
                            {#                                        <option value="{{ current_user.get_steam2_id }}">{{ current_user.personaname }}</option>#}
                            {#                                    {% endfor %}#}
                            {#                                </select>#}
                            {#                            </li>#}
                            {#                            <li class="list-group-item">#}
                            {#                                <h3 class="list-group-item-heading">Duration. ( O seconds is forever )</h3>#}
                            {#                                <input id="duration" type="text" name="duration">#}
                            {#                            </li>#}
                            {#                            <li class="list-group-item">#}
                            {#                                <h3 class="list-group-item-heading">Reason:</h3>#}
                            {#                                <input id="reason" type="text" name="reason">#}
                            {#                            </li>#}
                            {#                            <input type="submit" value="OK">#}
                            {#                            </ul>#}
                            {% csrf_token %}
                            <ul class="list-group">
                                {% for field in form %}
                                    <li class="list-group-item">
                                        <h3 class="list-group-item-heading">{{ field.label }}</h3>
                                        {{ field }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
    </div>
{% endblock %}


