{% extends 'remote_admin/base.html' %}
{% block content %}
    <div align="center" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">G-Py Remote Admin</h3>
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <h2>Rcon Page</h2>
                        {% if rcon_stdout %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3>RCON Successful Output:</h3>
                                </div>
                                <div class="panel-body">
                                    {{ rcon_stdout|markdownify|safe }}
                                </div>
                            </div>
                        {% elif error %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3>RCON Error Output:</h3>
                                </div>
                                <div class="panel-body">
                                    <p>{{ error }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <form action="{% url 'remote_admin:rcon' %}" method="post">
                            <select id="rcon_server_port" name="rcon_server_port">
                                <option value="27015">TTT</option>
                                <option value="27016">DarkRP</option>
                            </select>
                            <label for="rcon_cmd">Your command: </label>
                            <input id="rcon_cmd" type="text" name="rcon_cmd">
                            <input type="submit" value="OK">
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
    </div>
{% endblock %}


