html,
body {
    /*background-image: url("/static/dark-triangles.png");*/
    background: linear-gradient(180deg,
    rgba(2,173,231,0.5),
    rgba(184,93,92,0.82)),
    url(/static/dark-triangles.png)
}

.panel-default > .panel-heading-custom {
    background: #B85D5C;
    color: #fff;
    background-image:none;
}

/*.panel-red-heading {*/
/*background-color: #B85D5C;*/
/*}*/

.gpy_navbar_padding {
    padding:5px;
}
.gpy_navbar_avatar_border {
    border: solid black 5px;
    border-radius: 15px;
    background-color: #B85D5C;
}
.gpy_panel_avatar_border {
    border: solid black 5px;
    background-color: #B85D5C;
    border-radius: 15px;
    padding: 2px;
    margin-top:4%;
    margin-right:2%;
}
.gpy_profile_avatar_border {
    border: solid black 5px;
    background-color: #B85D5C;
    border-radius: 15px;
    padding: 5px;
    margin-top:2%;
    margin-right:32%;
}

.gpy-border-radius-sm {
    border: solid black 1px;
    border-radius: 5px;
}