html,
body {
  background-image: url("/static/dark-triangles.png");
}

.bg-gpy-red {
  margin-top: 6%;
  background-color: #B85D5C;
  height:75%;
}

.gpy_navbar_padding {
  padding:5px;
}
.gpy_navbar_avatar_border {
  border: solid black 5px;
  border-radius: 15px;
  background-color: #B85D5C;;
}