{% extends 'gpy_main/base.html' %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">G-Py Index</h3>
    </div>
    <div class="panel-body">

        <div class="jumbotron">
            <h2>Index</h2>
            <p>Welcome to the G-Py Index. We hope you enjoy your stay on the test server.</p>
            <p>If you're a here as a user, that is great! Please feel free to register.</p>
            <p>If you're here as a developer, that is also great! Please checkout the github.</p>
            <h3>Github</h3>
            <a href="https://github.com/Tthomas63/gpy_site/tree/heroku" class="btn btn-sm btn-success">Github link</a>
        </div>
    </div>
{% endblock %}

