{% extends 'gpy_main/template.html' %}
{% block content %}
    <div align="left" class="panel-heading">
        <h3 class="panel-title">{{ viewed_user.get_steam2_id }}</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ viewed_user.personaname }}</h2>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Rank:</h3>
                            <h4>{{ viewed_user.rank }}</h4>
                        </div>
                        <div class="col-md-4">
                            <h3>Steam Profile:</h3>
                            <a class="btn btn-lg btn-danger" href="{{ viewed_user.profileurl }}">View Steam Profile</a>
                            {% if user.is_authenticated %}
                                {% if user == viewed_user %}
                                    <br>
                                    <a href="{% url "profile_edit" steam_id=user.steamid %}"
                                       class="btn btn-xs btn-danger">Edit
                                        G-Py Profile</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div align="right" class="col-md-4">
                            <img class="gpy_profile_avatar_border" src="{{ viewed_user.avatarmedium }}">
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div align="left" class="panel-heading">
                        <h4>User profile</h4>
                    </div>
                    <div class="panel-body well">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="alert-danger">
                                    <h2><u>User Motto/Signature</u></h2>
                                </div>
                                {{ viewed_user.gpy_profile.motto }}
                                <div class="alert-warning">
                                    <h2><u>User Signature</u></h2>
                                </div>
                                {{ viewed_user.gpy_profile.signature }}
                            </div>
                            <div class="col-lg-8">
                                <div class="alert-info">
                                    <h2><u>User Bio</u></h2>
                                </div>
                                    {{ viewed_user.gpy_profile.bio }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}