{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <!-- Standard Meta -->#}
{#    <meta charset="utf-8"/>#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">#}
{##}
{#    <!-- Site Properties -->#}
{#    <title>G-Py Title</title>#}
{##}
{#    <!-- Stylesheets and Javascript -->#}
{#    <link rel="shortcut icon" type="image/jpg" href="{% static "core/gpy_logo.jpg" %}">#}
{#    <script src="{% static "core/js/jquery.js" %}"></script>#}
{#    <script src="{% static "core/semantic/semantic.js" %}"></script>#}
{#    <link rel="stylesheet" href="{% static "core/semantic/semantic.css" %}">#}
{#    <link rel="stylesheet" href="{% static "core/css/style.css" %}">#}
{#</head>#}
{#<body>#}
{##}
{#<div class="ui grid">#}
{#    <div class="row">#}
{#        <div id="" class="ui inverted huge borderless fixed fluid menu">#}
{#            <a class="item">#}
{#                <img src="{% static "core/gpy_logo.jpg" %}" alt="gpy_logo">#}
{#            </a>#}
{#            <a class="item">#}
{#                Home#}
{#            </a>#}
{#            <a class="item">#}
{#                Messages#}
{#            </a>#}
{#            <a class="item" onclick="">#}
{#                Friends#}
{#            </a>#}
{#        </div>#}
{#        <div class="column">#}
{#            <div id="user-menu"#}
{#                 class="ui vertical inverted labeled icon sidebar overlay visible menu">#}
{#                <a class="item">#}
{#                    1#}
{#                </a>#}
{#                <a class="item">#}
{#                    2#}
{#                </a>#}
{#                <a class="item">#}
{#                    3#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="column">#}
{#            <div id="margined_content" class="ui container segment">#}
{#                <h1 class="ui header">Semantic UI Fixed Template</h1>#}
                {#        <p>This is a basic fixed menu template using fixed size containers.</p>#}
                {#        <p>A text container is used for the main container, which is useful for single column layouts</p>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat odio eget suscipit cursus.#}
{#                    Sed#}
{#                    euismod posuere mauris eu mollis. Aliquam eget consequat odio. Phasellus hendrerit elit massa, ac#}
{#                    aliquet#}
{#                    magna viverra et. Quisque euismod, lorem sit amet tempor ultrices, quam libero congue metus, blandit#}
{#                    pretium#}
{#                    orci tortor vel nulla. Pellentesque rhoncus justo malesuada fermentum scelerisque. Pellentesque#}
{#                    habitant#}
{#                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in quam non ipsum#}
{#                    lobortis#}
{#                    eleifend. Fusce auctor, mi vel fermentum condimentum, nisl magna accumsan quam, nec accumsan purus#}
{#                    orci in#}
{#                    lacus. Pellentesque eget libero ac odio maximus commodo in at nulla. Nulla facilisi.#}
{##}
{#                    Maecenas et mauris condimentum ante laoreet maximus. Suspendisse et mauris lorem. Nullam a tellus id#}
{#                    odio#}
{#                    dictum viverra. Sed scelerisque ornare ex, id malesuada lectus lacinia ac. Fusce non sapien in ante#}
{#                    dapibus#}
{#                    pulvinar. Vivamus nec metus fringilla, consequat lectus in, tempor nisi. Maecenas at tincidunt#}
{#                    augue, ut#}
{#                    laoreet tortor. Aliquam erat volutpat. Pellentesque aliquam leo eu vehicula scelerisque. Nam finibus#}
{#                    tempus#}
{#                    lacus, ut maximus ante fringilla in. Duis pretium, leo vitae tempus pretium, tellus tellus pretium#}
{#                    purus,#}
{#                    sed vestibulum libero nulla eget sapien.#}
{##}
{#                    Phasellus vestibulum egestas ex, non imperdiet sapien pellentesque at. Nullam orci nisi, scelerisque#}
{#                    in elit#}
{#                    vitae, egestas pulvinar risus. Nullam eget lacus ut justo aliquet ultricies. Maecenas consectetur#}
{#                    dui eu#}
{#                    convallis hendrerit. Praesent malesuada vitae justo sit amet laoreet. Vestibulum accumsan metus non#}
{#                    volutpat#}
{#                    porttitor. Cras varius pulvinar interdum. Praesent eget turpis vitae nulla molestie tincidunt#}
{#                    hendrerit sed#}
{#                    ex. Mauris facilisis sit amet lectus id feugiat. In hac habitasse platea dictumst. Maecenas#}
{#                    facilisis, massa#}
{#                    id lacinia mattis, eros velit pellentesque sapien, sed tempor nisl nibh quis quam. Quisque id mauris#}
{#                    velit.#}
{##}
{#                    Pellentesque hendrerit mi quis nibh lobortis hendrerit. Curabitur fringilla lectus leo, a iaculis#}
{#                    lorem#}
{#                    interdum scelerisque. Quisque et mi quis leo ultrices maximus ut vitae enim. Aliquam lacinia nisl ut#}
{#                    sagittis hendrerit. Sed vehicula libero a nisi consectetur fermentum. Class aptent taciti sociosqu#}
{#                    ad litora#}
{#                    torquent per conubia nostra, per inceptos himenaeos. Sed ullamcorper, justo ut aliquet vulputate,#}
{#                    lectus#}
{#                    libero placerat ligula, et facilisis sapien augue id diam. Maecenas accumsan leo neque, et#}
{#                    sollicitudin elit#}
{#                    finibus sit amet. In hac habitasse platea dictumst. Etiam dictum risus turpis, a tincidunt odio#}
{#                    consequat#}
{#                    sit amet. Donec placerat velit quis mi dapibus, quis interdum lorem porta. Etiam vulputate tincidunt#}
{#                    metus,#}
{#                    a consequat purus. Vestibulum facilisis metus vitae convallis ullamcorper.#}
{##}
{#                    Phasellus varius dolor a justo efficitur, ut tempus purus suscipit. Vivamus tincidunt ligula in#}
{#                    nulla#}
{#                    eleifend, sit amet venenatis libero blandit. Proin facilisis ultricies vulputate. Phasellus quis#}
{#                    dignissim#}
{#                    lacus. Morbi porttitor elementum finibus. Suspendisse vitae felis metus. Vestibulum efficitur#}
{#                    facilisis#}
{#                    scelerisque. Nam et tincidunt urna, ac lacinia diam. Cras ut risus malesuada, gravida orci vel,#}
{#                    molestie#}
{#                    magna. Phasellus at mauris a dui dignissim viverra. Praesent dapibus in metus eget pellentesque.#}
{##}
{#                    Vestibulum dignissim velit nibh, in maximus eros lobortis ut. Nulla id purus sed leo suscipit#}
{#                    consequat eget#}
{#                    vitae dui. Suspendisse nec iaculis lorem. Sed scelerisque dignissim lectus, eget sodales ex#}
{#                    tincidunt eu.#}
{#                    Vivamus quis velit consequat, tincidunt urna non, facilisis est. Donec cursus ultrices aliquam.#}
{#                    Curabitur in#}
{#                    massa sed arcu pulvinar ullamcorper.#}
{##}
{#                    Suspendisse pellentesque a sapien et placerat. Duis lectus justo, tempus a ligula sit amet, ornare#}
{#                    egestas#}
{#                    purus. Nulla vel cursus quam. Mauris non massa eget libero finibus sodales. Sed vel nibh est. Duis#}
{#                    metus#}
{#                    elit, tincidunt vitae elementum vitae, dignissim vitae erat. Maecenas efficitur sagittis dictum.#}
{#                    Mauris et#}
{#                    urna in nisi aliquet sagittis. Integer auctor massa vitae odio dapibus pulvinar. Donec luctus libero#}
{#                    arcu,#}
{#                    nec aliquam urna posuere et. Donec finibus posuere accumsan. Interdum et malesuada fames ac ante#}
{#                    ipsum#}
{#                    primis in faucibus. Maecenas ut porttitor elit, ac lacinia velit. Aenean vitae mauris facilisis,#}
{#                    eleifend#}
{#                    mauris at, volutpat purus.#}
{##}
{#                    Suspendisse viverra justo sed sollicitudin blandit. Quisque commodo nisl vitae est scelerisque,#}
{#                    vitae#}
{#                    dapibus est mattis. Etiam sodales feugiat odio, sit amet pulvinar ligula rhoncus sed. Donec semper#}
{#                    aliquet#}
{#                    finibus. Sed in pulvinar eros. Duis placerat quis ipsum sed faucibus. Phasellus id nulla ut sapien#}
{#                    vestibulum varius. Etiam fringilla elit turpis, nec pulvinar dui maximus sed. Nam mi orci, imperdiet#}
{#                    sit#}
{#                    amet nisi at, viverra blandit nibh. Vivamus lobortis euismod enim eu pellentesque. Lorem ipsum dolor#}
{#                    sit#}
{#                    amet, consectetur adipiscing elit. Mauris iaculis consequat lectus, ac congue lectus tincidunt ut.#}
{#                    Sed#}
{#                    tortor tellus, lobortis eu dui eget, consectetur venenatis nunc. Sed placerat luctus ornare. Integer#}
{#                    non mi#}
{#                    diam. Integer aliquet vehicula tortor a euismod.#}
{##}
{#                    Vestibulum et elit nisl. Suspendisse potenti. Duis suscipit nibh at elementum porta. Integer eget#}
{#                    nisi diam.#}
{#                    Vestibulum convallis condimentum sem eleifend varius. Nullam non turpis tempus, sollicitudin ante#}
{#                    at,#}
{#                    eleifend purus. Etiam placerat metus eu pellentesque hendrerit. Sed nec diam pulvinar, semper tellus#}
{#                    nec,#}
{#                    elementum turpis. Aliquam erat volutpat. Quisque maximus ut massa a molestie. Nulla vel tellus#}
{#                    rhoncus,#}
{#                    egestas est a, fermentum enim. Ut elementum ipsum lorem, quis elementum lectus euismod in. Aliquam#}
{#                    venenatis#}
{#                    rutrum ultricies.#}
{##}
{#                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vehicula#}
{#                    magna#}
{#                    nunc, vel mattis elit interdum nec. Quisque venenatis risus nibh, vitae pretium purus egestas id.#}
{#                    Morbi#}
{#                    nulla felis, blandit ut elementum sit amet, pellentesque at quam. Sed molestie malesuada magna in#}
{#                    eleifend.#}
{#                    Curabitur at ante neque. Donec elementum dolor nisl, non pulvinar quam tincidunt quis. Nullam vitae#}
{#                    augue#}
{#                    odio. Aenean sodales est quam, in volutpat libero sodales eget. Suspendisse vel tellus metus.#}
{#                    Quisque at#}
{#                    dolor sapien. In sollicitudin sapien non arcu sodales, ullamcorper tincidunt nibh suscipit. Cras#}
{#                    vulputate#}
{#                    pretium mattis. In aliquam ac velit et molestie. Sed euismod purus sit amet convallis#}
{#                    condimentum.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<div class="ui inverted vertical footer segment">#}
{#    <div class="ui center aligned container">#}
{#        <div class="ui stackable inverted divided grid">#}
{#            <div class="three wide column">#}
{#                <h4 class="ui inverted header">Group 1</h4>#}
{#                <div class="ui inverted link list">#}
{#                    <a href="#" class="item">Link One</a>#}
{#                    <a href="#" class="item">Link Two</a>#}
{#                    <a href="#" class="item">Link Three</a>#}
{#                    <a href="#" class="item">Link Four</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="three wide column">#}
{#                <h4 class="ui inverted header">Group 2</h4>#}
{#                <div class="ui inverted link list">#}
{#                    <a href="#" class="item">Link One</a>#}
{#                    <a href="#" class="item">Link Two</a>#}
{#                    <a href="#" class="item">Link Three</a>#}
{#                    <a href="#" class="item">Link Four</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="three wide column">#}
{#                <h4 class="ui inverted header">Group 3</h4>#}
{#                <div class="ui inverted link list">#}
{#                    <a href="#" class="item">Link One</a>#}
{#                    <a href="#" class="item">Link Two</a>#}
{#                    <a href="#" class="item">Link Three</a>#}
{#                    <a href="#" class="item">Link Four</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="seven wide column">#}
{#                <h4 class="ui inverted header">Footer Header</h4>#}
{#                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="ui inverted section divider"></div>#}
{#        <img src="assets/images/logo.png" class="ui centered mini image">#}
{#        <div class="ui horizontal inverted small divided link list">#}
{#            <a class="item" href="#">Site Map</a>#}
{#            <a class="item" href="#">Contact Us</a>#}
{#            <a class="item" href="#">Terms and Conditions</a>#}
{#            <a class="item" href="#">Privacy Policy</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#</body>#}
{##}
{#</html>#}

