#narrow.ui.container {
    width: 50%;
}

#narrow.ui.container > .ui.menu {
    border-width: 0 0 1px 0;
    border-radius: 0;
    height: 4em;
}

#narrow.ui.container > .ui.menu .header.item {
    padding-left: 0;
    font-size: 1.2em;
}

#narrow.ui.container .secondary.menu .item {
    color: #337ab7;
}

#narrow.ui.container .secondary.menu .item.active {
    background-color: #337ab7;
    color: white;
}

#narrow.ui.container .ui.message {
    background-color: rga(238, 238, 238);
    box-shadow: none;
    padding: 4em 2em;
}

#narrow.ui.container h1.ui.header {
    font-size: 4.5em;
}

#narrow.ui.container p.lead {
    font-size: 1.3em;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
}

#narrow.ui.container .ui.grid .row {
    margin-bottom: 1.5em;
}